<<<<<<< HEAD
<html>
<head>
	<title></title>
</head>
<body>
	<ul>
      <%= @event.each do |v|%>
      <li>
      <%= v.title %>
      <%= v.description %>
      <%= v.datestart %>
      <%= v.dateend%>
      <%= v.hourstart %>
      <%= v.hourend %>
      <%end%>
    </ul>  
=======



		  <div  id= "barnav" class="col-md-4">MOVIDA</div>
		 </div>
	<div class="row">
		<div id= "firstview",class="col-xs-6  col-md-3">


		</div>

		<div id= "secondview" class="col-xs-1  col-md-3">


		</div>

		<div id= "thirdview",class="col-xs-1  col-md-3">


		</div>

		<div id= "fourthview", class="col-xs-1  col-md-3">


		</div>

		<div id="fourthview", class="col-xs-1  col-md-3">


		</div>

	</div>

</div>

>>>>>>> 036601b5e726e6f4fb26fc8a973df283f834d474

</body>
</html>


