<html>
<head>
	<title></title>
</head>
<body>
	<ul>
      <%= @event.each do |v|%>
      <li>
      <%= v.title %>
      <%= v.description %>
      <%= v.datestart %>
      <%= v.dateend%>
      <%= v.hourstart %>
      <%= v.hourend %>
      <%end%>
    </ul>  

</body>
</html>


