<html>
<head>
	
  	<title></title>
  </head>
  <body id="newevent">
  	<h3> Crear Evento </h3>
    <div  class="container-fluid">
        <div  class="row">
          <div class="col-xs-12 col-sm-12 col-md-12  ">

           
              <div >
                    <div id="divnewevent" class="form-group">

                        <%=form_for @event do |eve|%>
                        	<%= eve.label :title, "Titulo del evento" %></br>
                          <%= eve.text_field :title,  class:"form-control", placeholder:"Stingi Fest Back Color", autofocus: true%></br>
                        	<%= eve.label :description, "Descripción" %></br>
                        	<%= eve.text_field :description,  class:"form-control", placeholder:"No debe superar los 140 caracteres", autofocus: true%></br>
                        	
                          
                          <%= eve.label :datestart, "Fecha de apertura" %></br>
                         	<%= eve.text_field :datestart, class:"form-control", placeholder:"Fecha de apertura o día del evento: Mar,20-Feb-15 - Mie,21-Feb-15", autofocus: true %></br>

                        	
                        	<%= eve.label :hourstart, "Hora inicio" %></br>
                        	<%= eve.text_field :hourstart,  class:"form-control", placeholder:"Hora de inicio: 10:00 PM - 12:00 PM", autofocus: true %> </br>
                        	
                        	
                          <%= eve.label :price, "Costo" %>
                          <%= eve.text_field :price, class:"form-control", placeholder:"Costo de entrada", autofocus: true %> </br>


                          <%= eve.label :wherebuy, "Dónde comprar" %>
                         <%= eve.text_field :wherebuy, class:"form-control", placeholder:"Donde comprar", autofocus: true  %> </br>
                         
                         <%= eve.submit %>

                         <%end%>

                            </div>                  
                   </div>
                </form>
              </div>
            </div>
        </div>
    
  </body>
</html>
