<html>
<head>
	<title></title>
</head>
<body>
<div class="container-fluid" id="continer-fluid-event">

	<div class="row">

							<div  class="col-xs-6 col-sm-4 col-md-4 " id="column"> 

								<div id="lrigth" class="lateral">
									<h1>lado derecho</h1>

									



								</div>



							</div>

						



					<div  class="col-xs-6 col-sm-4 col-md-4 " id="column"> 

						<div id="lcenter"  class="lateral">



							<h1 id="titulo"> <%= @event.title %></h1>


							<div id="imgprofile">
							<img SRC="" >
							</div>

							<h2 id="date"><%= @event.datestart %> </h2> <br>

							<h2 id="date"> <%= @event.dateend %> </h2>  <br>

							<h2 id="hour"> <%= @event.hourstart %> </h2>

							<h2 id="hour"> <%= @event.hourend %> </h2> <br>

							

							<h1 id="infoevent"> <span class:"spanc"> <img src:""> </span> place.city </h1>

							<h1 id="infoevent"> <span class:"spanc"> <img src:""> </span> @event.website </h1>

							<h1 id="infoevent"> <span class:"spanc"> <img src:""> </span>	place.adress </h1>





						</div>

					</div>



				<div  class="col-xs-6 col-sm-4 col-md-4 " id="column"> 
					
					    <div class="row">
					    	<div class="rigth" id="rigthtop">
					    	
								<div  class="col-xs-3 col-sm-3 col-md-3" id="gamifications"> 

									<img src="//s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/galery-e.svg" class="btnevn">

									<h2> GALERIA </h2>

								</div>



								<div  class="col-xs-3 col-sm-3 col-md-3" id="gamifications"> 

									<img src="//s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/heart-bite.svg" class="btnevn">

									<h2> BITE </h2>

									

								</div>



								<div  class="col-xs-3 col-sm-3 col-md-3" id="gamifications"> 

									 <img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/claps.svg" class="btnevn">

									 <h2> CLAPS </h2>

								</div>

						

								<div  class="col-xs-3 col-sm-3 col-md-3" id="gamifications"> 

								     <img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/share.svg" class="btnevn">

									 <h2> COMPARTIR </h2>

								 </div>

							  </div>
						</div>

							

						

								<div class="row">

									<div class= "col-xs-12 col-sm-12 col-md-12" >

										<div class="rigth" id="rigthcenter">
										
										<%= @event.description %>

										</div>

									</div>

								</div>


								 <div class="row " id="scores"> 

								     <div class="rigth" id="rigthbottom">
								     	
										<div  class="col-xs-3 col-sm-3 col-md-3"> 

											<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/tagS_score.svg" class="sbtnevn">

											<h2>ETIQUETAS</h2>

											<h2> score </h2>

										</div>



										<div  class="col-xs-3 col-sm-3 col-md-3"> 

											<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/bite_score.svg" class="sbtnevn">

											<h2>BITE</h2>

											<h2> score </h2>

										</div>



										<div  class="col-xs-3 col-sm-3 col-md-3"> 

											 <img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/claps_score.svg" class="sbtnevn">

											 <h2>CLAPS</h2>

											 <h2> score </h2>

										</div>



										<div  class="col-xs-3 col-sm-3 col-md-3"> 

										     <img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Events/SVG-PAGE-EVENTS/share_score.svg" class="sbtnevn">

											 <h2>COMPARTIDAS</h2>
 
											 <h2> score </h2>

										</div>
								
									</div>
								</div>



							    
					          
		           </div>
  



	     </div>
</div>



</body>
</html>