<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:700,400,300' rel='stylesheet' type='text/css'>
  <title></title>
</head>
<body id="bkgndedit">
<body>
      
      <div id="rowsignup" class="container-fluid">
        <div  class="row">
          <div class="col-xs-12 col-sm-12 col-md-12  ">

            <form>
              <div >
                    <div id="signupPage" class="form-group">
                    
                        <h2> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <%= resource_name.to_s.humanize %> Edita tu perfil</h2>



                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |e| %>
                         <%= devise_error_messages! %>

                          <div class="field"> 
                            <%= e.label :name %> <br />
                            <%= e.text_field :name "Nombre", class:"form-control", placeholder:"Nombre", autofocus: true %>
                          </div>

                          <div class="field">
                            <%= e.label :email %><br />
                            <%= e.email_field :email, class:"form-control", placeholder:"email", autofocus: true %>
                          </div>
                          <div>
                            <%= e.label :borndate,  %>
                            <%=  :borndate %> 
                          </div>

                          <div> 
                            <%= e.label :locationborn "Ciudad de Nacimiento"%>
                            <%= e.text_field :locationborn, "Ej, Medellín", class:"form-control", placeholder:"Ciudad de Nacimiento", autofocus: true %>
                          </div>

                          <div> <%= e.label :location, "Ciudad Actual" %>
                                <%= e.text_field :location, "Ej, Bogotá D.C", class:"form-control", placeholder:"Ciudad  Actual", autofocus: true %>
                          </div>


                          <div>
                            <%= e.label :tel, "Telefono"  %>
                            <%= e.text_field :tel, "+57-3XX XXX XX XX",class:"form-control", placeholder:"Nombre", autofocus: true %> 
                          </div>

                          <div> <%= e.label :bibliograpy, "Bibliografía" %>
                                <%= e.text_field :bibliograpy, "Bibliografía", class:"form-control", placeholder:"Escribe lo más relevante que te identifica en tan sólo 140 caracteres", autofocus: true %>
                          </div>

                          <div> <%= e.label :Website, "Website" %>
                                <%= e.text_field :bibliograpy, , class:"form-control", placeholder:"www.Algunnombre.com", autofocus: true %>
                          </div>
                                                     

                          <div class="field">
                            <%= f.label :password %>
                            <% if @validatable %>
                            <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
                            <% end %><br />
                            <%= f.password_field :password, autocomplete: "off",class:"form-control", placeholder:"Inserte contraseña", autofocus: true %>
                          </div>

                          <div class="field">
                            <%= f.label :password_confirmation %><br />
                            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Repita la contraseña", autofocus: true %>
                          </div>

                          <div class="actions"> <br />
                            <%= f.submit "Registrarse", class:"btn btn-default" %>
                          </div>

                        <% end %>

                        <%= render "'welcome#index'" %>
                                    </div>                  
                                 </div>
                              </form>
                            </div>
                          </div>
                      </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="field">
                      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>

                    <div class="field">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    </div>

                    <div class="field">
                      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                      <%= f.password_field :current_password, autocomplete: "off" %>
                    </div>

                    <div class="actions">
                      <%= f.submit "Update" %>
                    </div>
                  <% end %>

                  <h3>Cancel my account</h3>

                  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                  <%= link_to "Back", :back %>
    </body>
</html>




        

                  